# MATH 210 Introduciton to Mathematical Computing

**January 12, 2026**

* Numbers and Variables
* Sequence Types
* Builtin Functions for Sequences
* List Comprehensions

## Numbers and Variables

There are 3 main numeric types: integers, floats, and complex numbers.

In [1]:
(-1)**(1/2)

(6.123233995736766e-17+1j)

In [2]:
pi = 3.1415926

In [3]:
type(pi)

float

In [4]:
print(pi)

3.1415926

In [5]:
patrick = 8

In [6]:
ehsan = 12

In [7]:
math_is_cool = True

We can use any combination of letters and numbers and symbols to create variable names as long as it starts with a letter.

In [8]:
two_legit_two_quit = 2

In [9]:
rotations_per_minute = 2700

There are some names we can't use and some that we shouldn't use.

In [10]:
true = 1

In [11]:
lambda1 = 1

In [12]:
sum([1,2,3,4,5])

15

In [13]:
sum1 = 15

In [14]:
sum([1,2,3,4,5,6])

21

In [15]:
sum1

15

## Sequence Types

There are 3 main sequence types: list, tuple and range.

Create a list using square brackets:

In [16]:
evens = [2,4,6,8,10,12,14,16,18,20]

In [17]:
type(evens)

list

In [18]:
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

A range object represents a sequence of evenly-spaced integers. Create a range object with `range(a,b,step)` which is integers from `a` to `b` (exclusive) incremented by `step`.

In [19]:
range(0,10,2)

range(0, 10, 2)

The function `range` doesn't create the values but instead the range object returns the integers in the sequence when we ask for it such as in a `for` loop.

In [20]:
for n in range(0,10,2):
    print(n)

0
2
4
6
8

Use the builtin function `list` to convert a sequence into a list.

In [21]:
odds = list(range(1,21,2))

In [22]:
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
type(odds)

list

A tuple behaves almost exactly like a list. Create a tuple using parentheses.

In [24]:
date = (2026,1,12)

In [25]:
type(date)

tuple

In [26]:
print(date)

(2026, 1, 12)

## Builtin Functions for Sequences

There are 4 main builtin functions for sequences: `min`, `max`, `len` and `sum`.

In [27]:
v = [32,-45,11,58,6,23,-37]
print(v)

[32, -45, 11, 58, 6, 23, -37]

In [28]:
min(v)

-45

In [29]:
max(v)

58

In [30]:
len(v)

7

In [31]:
sum(v)

48

In [32]:
average = sum(v)/len(v)
print(average)

6.857142857142857

## List Comprehensions

Create a list using range object and formula for the entries.

In [33]:
squares = [n**2 for n in range(1,11)]

In [34]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
type(squares)

list

Use a list comprehension and the function `sum` to compute
$$
\sum_{n=1}^{100} \frac{1}{n^2}
$$

In [36]:
terms = [1/n**2 for n in range(1,11)]

In [37]:
print(terms)

[1.0, 0.25, 0.1111111111111111, 0.0625, 0.04, 0.027777777777777776, 0.02040816326530612, 0.015625, 0.012345679012345678, 0.01]

In [38]:
sum(terms)

1.5497677311665408

Write a list comprehension to create the sequence of values from 0 to 1 (inclusive) incremented by 0.1.

In [39]:
[n/10 for n in range(0,11)]

[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

Compute the Riemann sum
$$
\sum_{k=1}^N \frac{1}{1 + x_k^2}
$$
where $x_k = k/N$ for $k=1,\dots,N$.

In [40]:
N = 10000
I = 1/N*sum([1/(1 + (k/N)**2) for k in range(1,N+1)])
print(I)

0.7853731629807817

This is an approximation of the definite integral
$$
\int_0^1 \frac{dx}{1 + x^2} = \frac{\pi}{4}
$$

In [41]:
3.1415926/4

0.78539815