# MATH 210 Introduction to Mathematical Computing

**Januuary 23, 2026**

* `for` loops
* Factorial
* Taylor series for exponential
* Recursive sequence
* Polynomial addition

## `for` loops

A `for` loop allows us to execute a block of code many times using an index that gets updated for each entry in a sequence. The construction is:

```
for item in sequence:
    Python code block
    Python code block
    Python code block
```
where:
* `for` is the keyword that starts the construction
* `item` is a variable name
* `sequence` is a list or range (or other sequence)
* colon `:` ends the `for` statement
* code block is indented 4 spaces
* run the code block for each value of sequence assigned to `item`

In [2]:
for n in range(5):
    print(n**2)

0
1
4
9
16

## Factorial

The factorial is $n! = n(n-1)(n-2) \cdots (2)(1)$. And $0! = 1$.

Write a function called `factorial` which takes a positive integer `n` and returns $n!$.

We can think of the computation of a factorial as a recursive sequence: $x_0 = 1$, $x_k = k x_{k-1}$. Then $x_n = n!$.

In other words, $n! = n \times (n-1)!$.

In [18]:
def factorial(n):
    xk = 1
    for k in range(1,n+1):
        xk = k*xk
    return xk

In [19]:
print(factorial(0), 1)

1 1

In [20]:
print(factorial(1), 1)

1 1

In [21]:
print(factorial(3), 6)

6 6

In [22]:
print(factorial(7), 7*6*5*4*3*2)

5040 5040

## Exponential Taylor series

Write a function called `exp` which takes inputs `x` and `N` and return the partial suum of the Taylor series
$$
e^x \approx \sum_{k=0}^N \frac{x^k}{k!}
$$

In [23]:
def exp(x,N):
    terms = [x**k/factorial(k) for k in range(0,N+1)]
    return sum(terms)

In [29]:
exp(1,15)

2.7182818284589945

## Recursive Sequence

Write a function called `aseq` which takes a number `a` and positive integer `N` and returns $x_N$ defined by the recursive sequence $x_0 = a$, $x_k = \sqrt{2 + x_{k-1}}$.

We can use the general "initialize and update" pattern for a recursive sequence:

```
xk = a
for k in range(1,N+1):
    xk = f(xk,k)
```
where $x_k = f(x_{k-1},k)$ is a recursive sequence given by the function $f$.

In [34]:
def aseq(a,N):
    xk = a
    for k in range(1,N+1):
        xk = (2 + xk)**0.5
    return xk

In [35]:
# x0 = 0
# x1 = (2 + x0)**0.5 = 2**0.5
print(aseq(0,1),2**0.5)

1.4142135623730951 1.4142135623730951

In [36]:
# x0 = 1
# x1 = (2 + x0)**0.5 = 3**0.5
# x2 = (2 + x1)**0.5 = (2 + 3**0.5)**0.5
print(aseq(1,2),(2 + 3**0.5)**0.5)

1.9318516525781366 1.9318516525781366

In [40]:
aseq(1,1000)

2.0

In [41]:
aseq(5,1000)

2.0

In [42]:
aseq(100,1000)

2.0

## Remove 0s

Write a function called `remove0s` which takes a list of numbers `p` and returns the same list but with 0s removed from the end such that the last entry is nonzero. For example, if `p = [1,2,3,0,0]` then return `[1,2,3]`. If `p` is a list of all 0s then return `[0]`.

In [82]:
def remove0s(p):
    result = p
    for k in range(1,len(p)):
        if p[-k] == 0:
            result = p[:-k]
            if result[-1] != 0:
                break
    return result
    
print(remove0s([0,0,1,0,0,0]),[0,0,1])

[0, 0, 1] [0, 0, 1]

In [83]:
print(remove0s([1,2,3,0,0]),[1,2,3])

[1, 2, 3] [1, 2, 3]

In [84]:
print(remove0s([0,0,1,0,0,0]),[0,0,1])

[0, 0, 1] [0, 0, 1]

In [85]:
print(remove0s([1,2,3]),[1,2,3])

[1, 2, 3] [1, 2, 3]

In [86]:
print(remove0s([0,0,0]),[0])

[0] [0]

## Example: Polynomial Addition

Write a function called `poly_add` which takes Python lists of numbers `p` and `q` (representing polynomials $p(x)$ and $q(x)$), and returns the Python list of numbers representing $p(x) + q(x)$.

In [87]:
def poly_add(p,q):
    if len(p) == len(q):
        pq = [p[k] + q[k] for k in range(len(p))]
    elif len(p) > len(q):
        pq = [p[k] + q[k] for k in range(len(q))] + p[len(q):]
    elif len(p) < len(q):
        pq = [p[k] + q[k] for k in range(len(p))] + q[len(p):]
    return remove0s(pq)

In [88]:
p1 = [1,2,3]
q1 = [-2,1,-5]
pq1 = poly_add(p1,q1)
print(pq1,[-1,3,-2])

[-1, 3, -2] [-1, 3, -2]

In [89]:
p2 = [1,2,3,4] # p(x) = 1 + 2x + 3x^2 + 4x^3
q2 = [-2,1] # q(x) = -2 + x
pq2 = poly_add(p2,q2) # p(x) + q(x) = -1 + 3x + 3x^2 + 4x^3
print(pq2,[-1,3,3,4])

[-1, 3, 3, 4] [-1, 3, 3, 4]

In [90]:
p3 = [1,2,3]
q3 = [-2,1,1,1]
pq3 = poly_add(p3,q3)
print(pq3,[-1,3,4,1])

[-1, 3, 4, 1] [-1, 3, 4, 1]

In [91]:
p4 = [1,2,3,-1]
q4 = [-2,1,1,1]
pq4 = poly_add(p4,q4)
print(pq4,[-1,3,4])

[-1, 3, 4] [-1, 3, 4]

In [92]:
p5 = [1,2,3,-1]
q5 = [-1,-2,-3,1]
pq5 = poly_add(p5,q5)
print(pq5,[0])

[0] [0]